@model Lincoln_MatheusAPS.Models.PagamentoComCheque

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Pagamento Com Cheque</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDoBanco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDoBanco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDoCobrador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDoCobrador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InformacoesAdicionais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InformacoesAdicionais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discriminator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discriminator)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idtp">Editar</a> |
    <a asp-action="Index">Volte a Lista</a>
</div>
