@model IEnumerable<Lincoln_MatheusAPS.Models.Pagamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class= "alert alert-success">@TempData["SuccessMessage"]</div>
}
else if (TempData["ErrorMessage"] !=null)
{
    <div class= "alert alert-danger">@TempData["ErrorMessage"]</div>
}


<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataLimite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaDeVenda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataLimite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaDeVenda.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idp">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Idp">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Idp">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        setTimeout(function () {
            $('.alert').fadeOut('fast');
        }, 5000);
    </script>
}