@model IEnumerable<Lincoln_MatheusAPS.Models.NotaDeVenda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class= "alert alert-success">@TempData["SuccessMessage"]</div>
}
else if (TempData["ErrorMessage"] !=null)
{
    <div class= "alert alert-danger">@TempData["ErrorMessage"]</div>
}

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transportadora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDePagamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendedor.Idv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transportadora.Idt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDePagamento.Discriminator)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        setTimeout(function () {
            $('.alert').fadeOut('fast');
        }, 5000);
    </script>
}